/* Base Rule Start */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
  scroll-behavior: smooth;
}
  
html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-color: #000;
}

.container{  
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 200rem;
}

p,
a {
    font-size: 1.8rem;
}

/* Base Rule end */




/* Layout start here */
.flex{
   display: flex;
}

/* Layout end here */




/* reusable code start */

/* reusable code end */







/*------- navbar start here-------- */
 
.nav-container {
    align-items: center;
    justify-content: space-between;
     
    & .nav-logo {
        cursor: pointer;
        color: aliceblue;
        & span {
            font-family: "Karantina", system-ui;
            font-weight: 400;
            font-size: 4rem;
        }
        & .for {
            font-family: "Kaushan Script", cursive;
            font-weight: 400;
        }
    }
    
    & .navbar-search {
      display: flex;
      justify-content: space-evenly;
      width: 33rem;
      height: 5rem;
      
      & .nav-input {
        width: 100%;
        font-size: 1.7rem;
        padding-left: 2.3rem;
        border: none;
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
        outline: none;
      }

      & .nav-botton {
        width: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        border: none;
        font-size: 2.3rem;
        background-color: #d1d1d1;
      } 
    }

    & .navbar-list {
      gap: 7em;
      list-style: none;
      
      & .navbar-link {
        display: inline-block;
        text-decoration: none;
        font-weight: 500;
        color: #ffffff;
        transition: all 0.3s;
      }
      
      & .navbar-link:hover {
        color: #78335d;
      }

    } 
    
}   

/*------- navbar section end here-------- */

    
  
  .mobile-navbar-btn {
    display: flex;
    background: transparent;
    cursor: pointer;
  }
  
  .mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #000000;
    display: none;
  }
  
  .mobile-navbar-btn.open .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  
  .mobile-navbar-btn.open .mobile-nav-icon[name="close-outline"] {
    display: flex;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    /* .nav-two {
      padding: 0 2.4rem;
    } */
  
    /* .nav-two .logo {
      width: 50%;
      height: 50%;
    } */
  
    
    .navbar-list {
      width: 100%;
      height: auto;
      background: #e7e7e7;
      position: absolute;
      top: 8rem;
      left: 0;
      display: none;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      flex-direction: column;
      align-items: left;
      gap: 0.5rem;
    }
  
    .active .navbar {
      display: flex;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .mobile-navbar-btn {
      display: block;
      z-index: 999;
    }
  
    .mobile-nav-icon[name="menu-outline"] {
      display: block;
    }
  
    .mobile-nav-icon[name="close-outline"] {
      display: none;
    }
  }
  
